.div1{
    border: 4px dashed rgb(187, 23, 78);
    height: 200px;
    width: 400px;
}
.div2{
    border: 8px solid rgb(187, 23, 78);
    height: 150px;
    width: 300px;
    margin-top: 15px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}
.div3{
    border: 4px dashed rgb(187, 23, 78);
    height: 125px;
    width: 250px;
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}